{% comment %}
  A word on drop-down menus: Shopify has no concept of them.
  Drop-down menus in Shopify themes are a hack that relies on a naming convention.
  To create a drop-down menu, the merchant must create a link list that has the same name as the link he wants the drop-down for.
  For example, if he wants a drop-down under a 'Shop by brand' link (say, he has such link in his Main Menu), he needs to create a linklist called 'Shop by brand', and populate it with links. Once he has done that, there'll be a drop-down under 'Shop by brand'.
  Shopify has a visual how-to guide here: http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu.
  The naming convention hack won't work well if a shop's navigation uses non-English characters. There's a much more verbose coding solution that handles non-English characters here: http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/translations/can-i-have-drop-down-menus-that-use-non-english-characters.
  A word on sub-categories: Shopify manages sub-categories using product tags: http://docs.shopify.com/manual/configuration/store-customization/page-specific/collections/subcategories
{% endcomment %}


<style>
  /* Logo */
  .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo img {
    width: 80%;
    max-width: 46 0px;
    margin: 0 autol
  }
  /* Navigation */
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
  nav li {
    margin: 0 20px 0 0;
  }
  nav li:last-of-type {
    margin: 0;
  }
  nav a {
    text-transform: uppercase;
    font-size: 4vw;
  }
  nav .active a {
    color: var(--red);
  }
  /* Cart Overlay */
  .cart-overlay {
    background: var(--light-green);
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    width: 350px;
    max-width: 50vw;
    height: 100vh;
    max-height: 100vh;
    z-index: 9999;
    border-left: 1px solid var(--black);
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
  }
  .cart-overlay .row {
    position: relative;
  }
  .js-my-cart-open { right: 0 !important; }
</style>

<header class="">
  {% comment %}
  *
  * Logo
  *
  {% endcomment %}
  <div class="logo">
    <img src="https://cdn.shopify.com/s/files/1/0558/6455/7665/files/logo.png?v=1653611436" alt="SEVENSEVENSEVEN" />
  </div>
  {% comment %}
  *
  * Navigation
  *
  {% endcomment %}
  <nav role="navigation">
    <ul>
      {% for link in linklists.main-menu.links %}
      {% assign has_sub_menu = false %}
      {% assign has_sub_categories = false %}
      {% assign parent_link_active = false %}
      {% assign child_list_handle = link.title | handle %}
      {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
        {% assign has_sub_menu = true %}
        {% for l in linklists[child_list_handle].links %}
          {% if handle != blank and handle == l.object.handle %}
            {% assign parent_link_active = true %}
          {% elsif page_title == l.title %}
            {% assign parent_link_active = true %}
          {% endif %}
        {% endfor %}
      {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 %}
        {% assign has_sub_categories = true %}
      {% endif %}
      <li class="{% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
        <a href="{{ link.url }}">{{ link.title }}{% if has_sub_menu or has_sub_categories %} <i class="fa fa-angle-down"></i>{% endif %}</a> 
        {% if has_sub_menu or has_sub_categories %}
        <ul>
          {% if has_sub_menu %}
            {% for l in linklists[child_list_handle].links %}
            <li class="{% if l.active %} active{% endif %}">
              <a href="{{ l.url }}">{{ l.title }}</a>
            </li>
            {% endfor %}
          {% elsif has_sub_categories %}
            {% for tag in link.object.all_tags %}
            <li class="{% if current_tags contains tag %} active{% endif %}">
              <a href="{{ link.url }}/{{ tag | handle }}">{{ tag }}</a>
            </li>
            {% endfor %}
          {% endif %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>





{% comment %}
*
* Mini Cart Overlay
*
{% endcomment %}
<div class="cart-overlay">
  <div class="row">
    {% section 'mini-cart' %}
  </div>
</div>
