<style>
 .discography-container {
        display: -ms-grid;
        display: grid;
        padding: 80px 0 40px 0;
        min-height: 60vh;
    }
    .discography-container ul.releases {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        list-style: none;
        padding: 40px;
        margin: 0px;
    }
    .discography-container .release {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .discography-container .image {
      margin-bottom: 24px;
      cursor: pointer;
    }
    .discography-container .image img {
      max-width: 100%;
    }
    .discography-container .titles p {
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
      padding: 0 0 20px 0;
    }
    .discography-container ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .discography-container .links li {
        margin: 10px 0;
    }
    .discography-container .links li a {
        text-transform: uppercase;
        font-size: 2rem;
        cursor: pointer;
    }
    .discography-container .links li a:hover {
        color: var(--red);
    }
    /* Accordion */
    .release-info {
      /* height: 0;
      overflow: hidden; */
        -webkit-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
    }
    .release-info::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }
    @media screen and (max-width: 767px) {
      .discography-container {
        padding: 20px 0 20px 0;
      }
      .discography-container .release {
        margin: 40px 0;
      }
    }
</style>

<div class="discography-container">
  <ul class="releases">
    {% for block in section.blocks %}
    {% case block.type %}
        {% when 'release' %}
            <li class="release {{ block.shopify_attributes }}">

                <div class="image" onclick="releaseInfo()">
                    <img src="{{ block.settings.release_artwork | image_url: width: 2048 }}" alt="{{ block.settings.release_title }} by {{ block.settings.artist_name }}" />
                </div>

                <div class="release-info" style="height: 0px; overflow: hidden;">

                  <div class="titles">
                    <p>{{ block.settings.release_title }}</p>
                    <p>{{ block.settings.artist_name }}</p>
                  </div>

                  <div class="links">
                    <ul>
                      <li>
                        <a href="{{ block.settings.youtube }}" title="{{ block.settings.artist_name }} on YouTube">YouTube</a>
                      </li>
                      <li>
                        <a href="{{ block.settings.spotify }}" title="{{ block.settings.artist_name }} on Spotify">Spotify</a>
                      </li>
                      <li>
                        <a href="{{ block.settings.apple_music }}" title="{{ block.settings.artist_name }} on Apple Music">Apple Music</a>
                      </li>
                      <li>
                        <a href="{{ block.settings.itunes_store }}" title="{{ block.settings.artist_name }} on iTunes Store">iTunes Store</a>
                      </li>
                      <li>
                        <a href="{{ block.settings.tidal }}" title="{{ block.settings.artist_name }} on Tidal">Tidal</a>
                      </li>
                      <li>
                        <a href="{{ block.settings.soundcloud }}" title="{{ block.settings.artist_name }} on Soundcloud">Soundcloud</a>
                      </li>
                      <li>
                        <a href="{{ block.settings.pandora }}" title="{{ block.settings.artist_name }} on Pandora">Pandora</a>
                      </li>
                      <li>
                        <a href="{{ block.settings.deezer }}" title="{{ block.settings.artist_name }} on Deezer">Deezer</a>
                      </li>
                      {% if block.settings.audiomack %}
                      <li>
                        <a href="{{ block.settings.audiomack }}" title="{{ block.settings.artist_name }} on Audiomack">Audiomack</a>
                      </li>
                      {% endif %}
                    </ul>
                  </div>

                </div>
                
            </li>
        {% endcase %}
    {% endfor %}
  </ul>
    

</div>

<script>
  function releaseInfo() {
    var infoBlock = document.querySelector('.release-info');

    if ( infoBlock.style.height == '0px' ) {
      infoBlock.style.height = '100%';
      infoBlock.style.overflow = 'auto';
    } else {
      infoBlock.style.height = '0px';
      infoBlock.style.overflow = 'hidden';
    }

  }
</script>


{% schema %}
{
  "name": "Discography",
  "tag": "section",
  "class": "discography",
  "blocks": [
     {
       "name": "Release",
       "type": "release",
       "settings": [
         {
           "type": "image_picker",
           "id": "release_artwork",
           "label": "Cover art"
         },
         {
            "type": "text",
            "id": "release_title",
            "label": "Release name"
          },
         {
            "type": "text",
            "id": "artist_name",
            "label": "Artist"
          },
          {
            "type": "text",
            "id": "youtube",
            "label": "Youtube"
          },
         {
            "type": "text",
            "id": "spotify",
            "label": "Spotify"
          },
          {
           "type": "text",
           "id": "apple_music",
           "label": "Apple Music"
         },
         {
           "type": "text",
           "id": "itunes_store",
           "label": "iTunes Store"
         },
         {
           "type": "text",
           "id": "tidal",
           "label": "Tidal"
         },
         {
           "type": "text",
           "id": "soundcloud",
           "label": "Soundcloud"
         },
         {
           "type": "text",
           "id": "pandora",
           "label": "Pandora"
         },
         {
           "type": "text",
           "id": "deezer",
           "label": "Deezer"
         },
         {
           "type": "text",
           "id": "audiomack",
           "label": "Audiomack"
         }
       ]
     }
   ]
}
{% endschema %}
