<style>
  /* Container */
  .magazine-collection {
    padding: 80px 0 40px 0;
  }
  .magazines li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 80px 0;
    border-top: 2px solid var(--white);
  }
  .magazines li:first-of-type {
    padding: 0 0 80px 0;
    border-top: 0px;
  }
  .magazines li form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    width: 85%;
    max-width: var(--max-container-width);
  }
  /* Left */
  .magazine-item .image {
    display: flex;
    justify-content: center;
  }
  .magazine-item .image img {
    min-width: 30vw;
    max-width: 600px;
    object-fit: contain;
  }
  /* Right */
  .magazine-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .magazine-info .title p {
    font-size: 3vw;
    margin: 20px 0;
  }
  .magazine-info .description p {
    font-family: var(--arial);
    font-size: 1rem;
  }
  .magazine-info .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 0;
  }
  .magazine-info .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .magazine-info .price,
  .magazine-info button  {
    font-size: 2rem;
    font-family: var(--arial-black);
    color: var(--white);
  }
  .magazine-info button {
    background: transparent;
    border: 1px solid var(--white);
    padding: 10px 14px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 750px) {
    .magazines li form {
      display: grid;
      grid-template-columns: 1fr;
      align-items: stretch;
      width: 95%;
      max-width: var(--max-container-width);
      text-align: center;
    }
    .magazine-info .bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .magazine-info .title p {
      font-size: 5.5vw;
      margin: 20px 0;
    }
    .magazine-info .price {
      margin-bottom: 24px;
    }
  }
</style>

{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}

<div class="magazine-collection">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product | img_url: '720x720', scale: 2 }}" />

  <ul class="magazines">
    {% for product in collection.products %}

      <li class="magazine-item product-item {% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}" itemscope itemtype="http://schema.org/Product">
        <form action="/cart/add" method="post" id="product-form-{{ product.id }}" class="single-product">   

          <div class="image">
            <a href="{{ product.url | within: collection }}">
              <img src="{{ product | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" />
            </a>
          </div>

          <div class="magazine-info">

            <div class="top">
              <div class="title">
                <p>{{ product.title }}</p>
              </div>
  
              <div class="description">
                <p>{{ product.description }}</p>
              </div>
            </div>



            <div class="bottom">
              <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                {% if product.available %}
                <link itemprop="availability" href="http://schema.org/InStock" />
               {% else %}
                <link itemprop="availability" href="http://schema.org/OutOfStock" />
               {% endif %}

                {% if product.price_varies %}From{% endif %}
                  {{ product.price | money_without_trailing_zeros }}
                  {% if on_sale %}
                    <s class="compare-at-price">{{ product.compare_at_price | money }}</s>
                  {% endif %}
              </div>

              <div id="product-add">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                <button type="submit" name="add">ADD TO CART</button>
              </div>

            </div>

          </div>

      </li>
    </form>

    {% else %}

      <li>There are no products in this view.</li>

    {% endfor %}
  </ul>
</div>
  

<script>
  Shopify.Image.preload({{ product.images | json }}, 'grande');
  Shopify.Image.preload({{ product.images | json }}, '1024x1024');
</script>


