<style>

  /* Container */
  .single-product {
      font-size: 1rem;
    }
    .single-product .account-bar {
      display: none;
    }
    /* Product */
    .single-product .row {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      padding: 80px 0 40px 0;
      width: 80%;
      margin: 0 auto;
    }
    .single-product .images {
      width: 100%;
      overflow: hidden;
      position: relative;
    }
    .single-product .images ul {
      width: 100%;
      scroll-snap-align: start;
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
    .single-product .images ul::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
    ul.image-list li:first-child {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
    }
    li.gallery-image {
      cursor: pointer;
    }
    .single-product .images li,
    li.gallery-image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -o-object-fit: contain;
         object-fit: contain;
      width: 100%;
    }
    .single-product .images li img,
    li.gallery-image img {
      width: 100%;
    }

    /* Info */
    .single-product .row .info {
        padding: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
      }
      .single-product .info .bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 100px;
      }
    .single-product .row .info {
      padding: 20px 20px 20px 60px;
      height: 100%;
      max-height: 100vh;
    }
    .single-product h1 {
      font-size: 4vw;
      margin: 0 0 20px 0;
      text-transform: uppercase;
    }
    .single-product .description {
      width: 100%;
    }
    .single-product .description p {
      font-size: 2rem;
      font-family: var(--arial);
      line-height: 1.1;
    }
    .single-product .actions {
      display: inline-block;
      padding: 40px 0;
    }

    /* Price */
    .product-price {
      font-size: 4rem;
    }
    /* Submit */
    a.view-product {
      background: transparent;
      text-transform: uppercase;
      border: 2px solid var(--white);
      padding: 10px 20px;
      width: 100%;
      cursor: pointer;
      margin-top: 20px;
      border-radius: 0px;
      color: var(--white);
      font-size: 3rem;
      font-weight: 900;
      white-space: pre-line;
    }
    a.view-product:hover {
      background: var(--white);
      color: var(--black);
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      border-radius: 0px;
    }

    /* Errors */
    .js-ajax-cart-message {
      padding: 20px 0 0 0;
    }
    /* TESTING*/
  
    ul.image-list li { display:none; }
    ul.image-list li:first-child { display:block; }
  
/* MEDIA QUERIES */
  @media screen and (max-width: 767px) {
      .single-product .row,
      form.single-product {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
      }
      .single-product .row {
        padding: 0;
      }
      .single-product .row .info {
        padding: 20px 0px 0px 0px;
        max-height: 100%;
        text-align: center;
      }
      .single-product .info .bottom {
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr 40px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 40px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 0;
      }
      /* Title */
      .single-product h1 {
        font-size: 8vw;
        max-width: calc(100% - 20px);
        margin: 0 10px 20px 10px;
      }
      /* Description */
      .single-product .description p {
        font-size: 1.1rem;
        margin: 0 auto;
        padding: 0 10px;
      }
      .single-product .images ul {
        max-height: 100%;
        overflow: auto;
      }
      .single-product .row > *:nth-child(1) {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
      }
      .single-product .row > *:nth-child(2) {
          -ms-grid-row: 2;
          -ms-grid-column: 1;
      }
      .single-product .images {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
      .single-product .images li img {
        -o-object-fit: fit;
           object-fit: fit;
        width: 100%;
        min-height: auto;
        height: 100%;
      }
      .single-product .info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 20px 20px 20px 60px;
        height: 100%;
        max-height: 100%;
      }
      .single-product .info .bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }
      /* Price */
      .product-price {
        font-size: 15vw;
      }
      /* Submit */
      a.view-product {
        padding: 10px 20px;
        width: 100%;
        margin: 20px 0;
        font-size: 2rem;
      }
  }
</style>

{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}

<div class="magazine-collection">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product | img_url: '720x720', scale: 2 }}" />

  <ul class="magazines">
    {% for product in collection.products %}

      <li class="magazine-item product-item {% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}" itemscope itemtype="http://schema.org/Product">
        <form action="/cart/add" method="post" id="product-form-{{ product.id }}" class="single-product">   

          <div class="row">

            <div class="images">
      
              <ul class="image-list">
                {% if product.images.size == 0 %}
      
                    <li class="placeholder">
                      <img src="{{ '' | img_url: 'master' }}" alt="{{ product.title }}" />
                    </li>
      
                {% else %}
                
                    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
        
                    {% if product.images.size > 1 %}
          
                        {% for image in product.images | limit: 1 %}
                            <li class="gallery-image">
                              <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}" />
                            </li>
                        {% endfor %}
        
                    {% else %}
        
                        <li class="gallery-image featured-image single-product-image">
                          <img src="{{ featured_image | img_url: 'master' }}" alt="{{ product.title | escape }}" />
                        </li>
                        
                    {% endif %}
    
                {% endif %}
              </ul>
            </div>
      
            {% comment %}
            *
            * INFO
            *
            {% endcomment %}
            <div class="info">
      
              {% comment %}
              *
              * TOP
              *
              {% endcomment %}
              <div class="top">
                <div class="title">
                  <h1>{{ product.title }}</h1>
                </div>
        
                <div class="description" itemprop="description">
                  <p>{{ product.description }}</p>
                </div>
  
        
                <div class="actions">
        
                </div>
              </div>
  
              {% comment %}
              *
              * BOTTOM
              *
              {% endcomment %}
              <div class="bottom">
  
                <div class="left">
                  <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                    {% if product.available %}
                     <link itemprop="availability" href="http://schema.org/InStock" />
                    {% else %}
                     <link itemprop="availability" href="http://schema.org/OutOfStock" />
                    {% endif %}
                    <p>
                      {% assign variant = product.selected_or_first_available_variant %}
                      {% if product.compare_at_price > product.price %}
                        <span class="product-price on-sale" itemprop="price">{{ variant.price | | money_without_trailing_zeros }}</span>
                        <s class="product-compare-price">{{ variant.compare_at_price | | money_without_trailing_zeros }}</s>
                      {% else %}
                        <span class="product-price" itemprop="price">{{ variant.price | | money_without_trailing_zeros }}</span>
                      {% endif %}
                    </p>
                  </div>
                </div>
  
                <div class="right">
                  <div id="product-add">
                    <a class="view-product" href="{{ product.url }}" title={{ product.name }}>View</a>
                  </div>
                </div>
                
              </div>
              
            </div>{% comment %} end: Info {% endcomment %}
  
  
          </div>{% comment %} end: Row {% endcomment %}
    </form>

    {% else %}

      <li>There are no products in this view.</li>

    {% endfor %}
  </ul>
</div>
  

<script>
  Shopify.Image.preload({{ product.images | json }}, 'grande');
  Shopify.Image.preload({{ product.images | json }}, '1024x1024');
</script>


