<style>
  .index-container {
    width: 100%;
    padding: 0 20px;
  }
  .large-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--border-padding);
  }
  .large-nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 50%;
  }
  .large-nav a {
      font-size: 6vw;
      line-height: 0.9;
      text-transform: uppercase;
  }
  .large-nav a:hover {
      color: var(--red);
  }
  nav.mobile {
    border-top: 0px solid var(--white) !important;
  }
  /* Newsletter */
  .newsletter {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  /*
  * =====================================
  * MEDIA QUERIES
  * =====================================
  */
  @media screen and (max-width: 770px) {
    .large-nav {
      display: none;
    }
    nav.mobile {
      position: absolute;
      bottom: 0;
    }
  }
</style>

<div class="index-container">
  <div class="large-nav">
    <ul>
        {% for link in linklists.main-menu.links %}
        {% assign has_sub_menu = false %}
        {% assign has_sub_categories = false %}
        {% assign parent_link_active = false %}
        {% assign child_list_handle = link.title | handle %}
        {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
          {% assign has_sub_menu = true %}
          {% for l in linklists[child_list_handle].links %}
            {% if handle != blank and handle == l.object.handle %}
              {% assign parent_link_active = true %}
            {% elsif page_title == l.title %}
              {% assign parent_link_active = true %}
            {% endif %}
          {% endfor %}
        {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 %}
          {% comment %} REMOVED: {% assign has_sub_categories = true %} {% endcomment %}
        {% endif %}
        <li class="{% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
          <a href="{{ link.url }}">{{ link.title }}{% if has_sub_menu or has_sub_categories %} <i class="fa fa-angle-down"></i>{% endif %}</a> 
          {% if has_sub_menu or has_sub_categories %}
          <ul>
            {% if has_sub_menu %}
              {% for l in linklists[child_list_handle].links %}
              <li class="{% if l.active %} active{% endif %}">
                <a href="{{ l.url }}">{{ l.title }}</a>
              </li>
              {% endfor %}
            {% elsif has_sub_categories %}
              {% for tag in link.object.all_tags %}
              <li class="{% if current_tags contains tag %} active{% endif %}">
                <a href="{{ link.url }}/{{ tag | handle }}">{{ tag }}</a>
              </li>
              {% endfor %}
            {% endif %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}

        <li>
          <a href="/cart" title="Cart">Cart ({{ cart.item_count }})</a>
        </li>
        
      </ul>

      <div class="newsletter">
        {% render 'newsletter-signup' %}
      </div>
  </div>
</div>
