{% comment %}
To Finish:

- UL Slideshow for Product Images
{% endcomment %}

<style>

    .single-product {
      font-size: 1rem;
    }
    nav.desktop li.last {
      color: var(--red);
    }
    .single-product .account-bar {
      display: none;
    }
    /* Product */
    .single-product .row {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      padding: 80px 0 40px 0;
      width: 80%;
      margin: 0 auto;
    }
    .single-product .images {
      width: 100%;
      overflow: hidden;
      position: relative;
    }
    .single-product .images ul {
      width: 100%;
      scroll-snap-align: start;
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
    .single-product .images ul::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
    ul.image-list li:first-child {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
    }
    li.gallery-image {
      cursor: pointer;
    }
    .single-product .images li,
    li.gallery-image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -o-object-fit: contain;
         object-fit: contain;
      width: 100%;
    }
    .single-product .images li img,
    li.gallery-image img {
      width: 100%;
    }

    /* Info */
    .single-product .row .info {
        padding: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
      }
      .single-product .info .bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 100px;
      }
    .single-product .row .info {
      padding: 20px 20px 20px 60px;
      height: 100%;
      max-height: 100vh;
    }
    .single-product h1 {
      font-size: 4vw;
      margin: 0 0 20px 0;
      text-transform: uppercase;
    }
    .single-product .description {
      width: 100%;
    }
    .single-product .description p {
      font-size: 2rem;
      font-family: var(--arial);
      line-height: 1.1;
    }
    .single-product .actions {
      display: inline-block;
      padding: 40px 0;
    }
  
    /* 
    *
    * Variants
    *
    */
    ul.variants-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%;
    }
    .switch-field {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      margin: 0 30px 0 0;
    }
    .switch-field:last-of-type {
      margin: 0;
    }
    .switch-field input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
    }
    .switch-field label {
      background: transparent;
      color: var(--white);
      font-size: 3rem;
      text-align: center;
      padding: 20px;
      /* margin-right: -1px; */
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      border: 2px solid var(--white);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .switch-field label:hover {
      cursor: pointer;
      background: var(--white);
      color: var(--black);
    }
    .switch-field input:checked + label {
      background-color: var(--white);
      color: var(--black);
      -webkit-box-shadow: none;
              box-shadow: none;
    }

    /* Price */
    .product-price {
      font-size: 4rem;
    }
    /* Submit */
    .single-product input[type="submit"] {
      background: transparent;
      text-transform: uppercase;
      border: 2px solid var(--white);
      padding: 10px 20px;
      width: 100%;
      cursor: pointer;
      margin-top: 20px;
      border-radius: 0px;
      color: var(--white);
      font-size: 3rem;
      font-weight: 900;
      white-space: pre-line;
    }
    .single-product input[type="submit"]:hover {
      background: var(--white);
      color: var(--black);
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      border-radius: 0px;
    }

    /* Errors */
    .js-ajax-cart-message {
      padding: 20px 0 0 0;
    }
    /* TESTING*/
  
    ul.image-list li { display:none; }
    ul.image-list li:first-child { display:block; }
  
    /* 
    *
    * Product Modal
    *
    */
    .product-modal--container {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-filter: blur(0px);
              filter: blur(0px);
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      z-index: 20;
      background: transparent;
      overflow-x: hidden;
      width: 100%;
      height: 100%;
    }
    .product-modal--container::before {
      content: '';
      z-index: -1;
      position: fixed;
      float: left;
      top: -10px;
      right: -20px;
      bottom: -100px;
      left: -20px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
      -webkit-filter: blur(10px);
              filter: blur(10px);
    }
    .product-modal--container ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 90vh;
      overflow-x: hidden;
    }
    .product-modal--close {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      width: 100%;
      padding: 20px 40px 0 0;
      z-index: 99999;
    }
    .product-modal--close p {
      color: var(--red);
      text-align: right;
      font-size: 80px;
      cursor: pointer;
      display: inline;
    }
    .modal-image {
      -o-object-fit: contain;
         object-fit: contain;
      width: 100vw;
      height: 100vh;
      -webkit-filter: blur(-5px);
              filter: blur(-5px);
    }
    .modal-image img {
      -o-object-fit: contain;
         object-fit: contain;
      width: 100%;
    }

    /* 
    *
    * Product Image Slideshow
    *
    */
    .mySlides {display: none}
    img {vertical-align: middle;}

    /* Slideshow container */
    .slideshow-container {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      margin: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      overflow-y: hidden;
    }
    .slideshow-container .featured-image {
      text-align: center;
    }
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: var(--white);
      font-weight: bold;
      font-size: 80px;
      -webkit-transition: 0.6s ease;
      -o-transition: 0.6s ease;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    .prev {
      left: 0;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: transparent;
      color: var(--red);
    }


    /* The dots/bullets/indicators */
    .dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      z-index: 999;
      width: 100%;
      height: 10vh;
      padding: 20px 0;
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      border: 2px solid var(--white);
      border-radius: 50%;
      display: inline-block;
      -webkit-transition: background-color 0.6s ease;
      -o-transition: background-color 0.6s ease;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: var(--red);
      border: 2px solid var(--red);
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
              animation-name: fade;
      -webkit-animation-duration: 1.5s;
              animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }


    /* 
    * ======================= 
    * MEDIA QUERIES
    * =======================
    **/
    @media (max-width: 767px) {
  
      .single-product .row,
      form.single-product {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
      }
      .single-product .row .info {
        padding: 20px 0px 20px 0px;
        max-height: auto;
        text-align: center;
      }
      .single-product .info .bottom {
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
      }
      .single-product .info .bottom .right {
        padding: 0 20px;
      }
      /* Title */
      .single-product h1 {
        font-size: 8vw;
      }
      .single-product .description p {
        font-size: 1.4rem;
        margin: 0 auto;
      }
      .single-product .images ul {
        max-height: 100%;
        overflow: auto;
        margin: 0 10px;
        width: calc(100% - 20px);
      }
      .single-product .row > *:nth-child(1) {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
      }
      .single-product .row > *:nth-child(2) {
          -ms-grid-row: 2;
          -ms-grid-column: 1;
      }
      .single-product .images {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
      .single-product .images li img {
        -o-object-fit: fit;
           object-fit: fit;
        width: 100vw;
        min-height: auto;
        height: 100%;
      }
      .single-product .info .bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }

      /* Variants */
      ul.variants-list {
        grid-gap: 10px;
      }
      li.switch-field {
        margin: 0;
        border: 2px solid var(--white);
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
      .switch-field label {
        font-size: 2rem;
        border: 0;
      }
      /* Price */
      .product-price {
        font-size: 15vw;
      }
      /* Submit */
      .single-product input[type="submit"] {
        padding: 10px 20px;
        width: 100%;
        margin: 20px 0;
        font-size: 2rem;
      }
      /* Slideshow */
      .modal-image {
        width: 100%;
      }
      .next, .prev {
        font-size: 40px;
      }
    }
  
  </style>
    
    {% assign add_to_cart = 'Add to cart' %}
    {% assign sold_out = 'Sold Out' %}
    {% assign unavailable = 'Unavailable' %}
    
    <div itemscope itemtype="http://schema.org/Product">
      
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
      <meta itemprop="image" content="{{ product | img_url: '720x720', scale: 2 }}" />
      
      {% comment %}
      *
      * PRODUCT FORM
      * 
      {% endcomment %}
      <form action="/cart/add" method="post" class="single-product" enctype="multipart/form-data" id="add-to-cart">
        <div class="row">

          <div class="images">
    
            <ul class="image-list">
              {% if product.images.size == 0 %}
    
                  <li class="placeholder">
                    <img src="{{ '' | img_url: 'master' }}" alt="{{ product.title }}" />
                  </li>
    
              {% else %}
              
                  {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
      
                  {% if product.images.size > 1 %}
        
                      {% for image in product.images %}
                          <li class="gallery-image">
                            <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}" />
                          </li>
                      {% endfor %}
      
                  {% else %}
      
                      <li class="gallery-image featured-image single-product-image">
                        <img src="{{ featured_image | img_url: 'master' }}" alt="{{ product.title | escape }}" />
                      </li>
                      
                  {% endif %}
  
              {% endif %}
            </ul>
          </div>
    
          {% comment %}
          *
          * INFO
          *
          {% endcomment %}
          <div class="info">
    
            {% comment %}
            *
            * TOP
            *
            {% endcomment %}
            <div class="top">
              <div class="title">
                <h1>{{ product.title }}</h1>
              </div>
      
              <div class="description" itemprop="description">
                <p>{{ product.description }}</p>
              </div>
                
              {% assign hide_default_title = false %}
              {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                {% assign hide_default_title = true %}
              {% endif %}        
      
              <div class="actions">
      
                {% if product.variants.size > 1 %} 
      
                  <script type="text/javascript" charset="utf-8">
                    jQuery(function() { 
                      var first_variant_price = jQuery("ul li input[type='radio']:checked").attr("data-price");
                      var first_variant_compare_at_price = jQuery("ul li input[type='radio']:checked").attr("data-compare-at-price") || ''; 
    
                      jQuery(".price-field span").html(first_variant_price);
    
                      jQuery(".price-field del").html(first_variant_compare_at_price);
    
                      jQuery("input[type='radio']").click(function() {
    
                        var variant_price = jQuery(this).attr("data-price");
                        jQuery(".price-field span").html(variant_price);
                        
                        var variant_compare_at_price = jQuery(this).attr("data-compare-at-price") || '';
                        jQuery(".price-field del").html(variant_compare_at_price);
    
                      });
                    });
                  </script>
    
                  <ul class="variants-list">
                    {% assign found_available_variant = false %}
                    {% for variant in product.variants %}
                      <li class="switch-field">
                          {% if variant.available %}
                              <input type="radio"{% if variant.compare_at_price > variant.price %} data-compare-at-price="{{ variant.compare_at_price | money_with_currency }}"{% endif %} data-price="{{ variant.price | money_with_currency }}" id="{{ variant.id }}" value="{{ variant.id }}" name="id"{% if found_available_variant == false  %}{% assign found_available_variant = true %} checked="checked"{% endif %} />
                              
                              <label for="{{ variant.id }}">
                                {{ variant.title }}
                              </label>
                          {% else %}
                              <input type="radio" class="out-of-stock" id="{{ variant.id }}" value="{{ variant.id }}" name="id" />
                              <label for="{{ variant.id }}" class="out-of-stock">
                                {{ variant.title }}
                              </label>
                          {% endif %}
                        </li>
                    {% endfor %}
                  </ul>
    
                  <div data-ajax-cart-messages="form"> 
                    <!-- Errors and messages appear here --> 
                  </div>
                  
              
                {% else %}
              
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
              
                {% endif %}
              </div>
            </div>

            {% comment %}
            *
            * BOTTOM
            *
            {% endcomment %}
            <div class="bottom">

              <div class="left">
                <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                  {% if product.available %}
                   <link itemprop="availability" href="http://schema.org/InStock" />
                  {% else %}
                   <link itemprop="availability" href="http://schema.org/OutOfStock" />
                  {% endif %}
                  <p>
                    {% assign variant = product.selected_or_first_available_variant %}
                    {% if product.compare_at_price > product.price %}
                      <span class="product-price on-sale" itemprop="price">{{ variant.price | | money_without_trailing_zeros }}</span>
                      <s class="product-compare-price">{{ variant.compare_at_price | | money_without_trailing_zeros }}</s>
                    {% else %}
                      <span class="product-price" itemprop="price">{{ variant.price | | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </p>
                </div>
              </div>

              <div class="right">
                <div id="product-add">
                  <input type="submit" name="add" id="add" value="{{ add_to_cart | escape }}">
                  {% if form.posted_successfully? %}
                    <script>console.log('Added to cart');</script>
                  {% else %}
                      {{ form.errors | default_errors }}
                  {% endif %}
                </div>
              </div>
              
            </div>
            
          </div>{% comment %} end: Info {% endcomment %}


          {% comment %}
          *
          * Product Modal
          *
          {% endcomment %}
          <div class="product-modal">
            <div class="product-modal--container">
              <div class="product-modal--close"><p>&times;</p></div>
              {% if product.images.size > 1 %}

                <ul class="slideshow-container">

                    {% assign slideCount = 0 %}
                    {% for image in product.images %}

                        
                        <li class="modal-image mySlides fade">
                          <img src="{{ image | img_url: 'master' }}"  alt="{{ image.alt | escape }}" class="modal-image-img" />
                        </li>
                    {% endfor %}

                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>

                </ul>
    
                <div class="dots" style="text-align:center">
                  {% for image in product.images %}
                    {% assign slideCount = slideCount | plus: 1 %}

                   

                    <span class="dot" id={{slideCount}} onclick="currentSlide({{ slideCount | json }})"></span>
                  {% endfor %}
                </div>
                {% else %}

                  <ul class="slideshow-container">
                    <li class="featured-image single-product-image">
                      <img src="{{ featured_image | img_url: 'master' }}" alt="{{ product.title | escape }}" />
                    </li>
                  </ul> 

                {% endif %}
            </div>
          </div>

        </div>{% comment %} end: Row {% endcomment %}

      </form>
    
    </div>
  
  <script>
    Shopify.Image.preload({{ product.images | json }}, 'grande');
    Shopify.Image.preload({{ product.images | json }}, '1024x1024');
  </script>
  
  <script>
    // Open Modal
    jQuery('.gallery-image').on('click', function() {
      jQuery('.product-modal--container').fadeIn().css({
        display: 'flex'
      })
    });
    // Close Modal
    jQuery('.product-modal--close > p').on('click', function() {
      jQuery('.product-modal--container').fadeOut().css({
        display: 'none'
      });
    });


    let slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "flex";  
      dots[slideIndex-1].className += " active";
    }
    </script>
  
  <script>
    jQuery('.switch-field').on('change', function() {
  
      var theProduct = {{ product | json }};
      var selectedVariant = jQuery('input[type=radio]:checked').val();
  
      for (var i = 0; i < theProduct.variants.length; i++) {
          if (theProduct.variants[i].id == selectedVariant) {
              // return(categoryArray[i].product);
  
             
              
              var final =  theProduct.variants[i].available;
              if ( final == true) {
                jQuery('.am-i-in-stock').text('Available now');
              } else {
                jQuery('.am-i-in-stock').text('Made to order');
              }
              
              console.log(theProduct.variants[i].available);
          }
      }
      
      console.log(theProduct.variants.selectedVariant);
  
      console.log(theProduct);
      console.log( 'Selected Variant ID: ' + selectedVariant);
      console.log('All variants: ' + theProduct.variants);
      console.log('A specific variant by ID: ' + theProduct.variants[0].id)
    
      
    });
  </script>